<title>Home Cliente</title>
{{#partial "contenido"}}
	<div class="row">
	 <div class="col-md-2">

      <nav class="nav flex-column primary-color lighten-3 py-4 mb-r font-weight-bold z-depth-1">
       	<a class="nav-link white-text" href="#">Estado Hogar</a>
       	<a class="nav-link white-text" href="/user/uploadDispositivos">Subir archivo de dispositivos</a>
       	<a class="nav-link white-text" href="/user/simplex">Simplex</a>
       	<a class="nav-link white-text" href="#">Cargar dispositivos</a>
      </nav>
  	 </div>
  	 <div class="col-md-10">
		<h1 class="pt-5">Bienvenido {{actualUser}}</h1>
	 </div>
	</div>
{{/partial}}
{{>plantilla.hbs}}