<title>Home Admin</title>
{{#partial "contenido"}}
	<div class="row">
	 <div class="col-md-2">

      <nav class="nav flex-column primary-color lighten-3 py-4 mb-r font-weight-bold z-depth-1">
       	<a class="nav-link white-text" href="/admin/hogares">Ver Hogares</a>
       	<a class="nav-link white-text" href="#">Visualizar Reportes</a>
       	<a class="nav-link white-text" href="/admin/tabladispositivos">Dispositivos Permitidos</a>
      </nav>
  	 </div>
  	 <div class="col-md-10">
		<h1 class="pt-5">Bienvenido administrador {{actualAdmin}}</h1>
	 </div>
	</div>
{{/partial}}
{{>plantilla.hbs}}