<title>Home</title>
{{#partial "contenido"}}
<section class="container">
{{#if LogOut}}
	<h4 class="light-blue darken-1 text-center white-text my-2">Acabas de cerrar sesión</h4>
{{else}}
	{{#if InvalidLogOut}}
    <h4 class="yellow darken-1 text-center white-text my-2">No tenes ninguna sesión iniciada</h4>
	{{/if}}
{{/if}}
<main role="main">
<br  />
<br  />
<img style= "float:left; margin:12px;" alt= "" src="img/imagenes/Captura.PNG" width="500" height="500"/> 
<p style="color: #000; font-size: 20pt">
<br />
<br />
<b><i> SGE </i></b> es un sistema inspirado en la gesti&oacute;n energ&eacutetica <br /> 
de los clientes residenciales, que les permite <br />
visualizar el estado de sus hogares, realizar <br />
consultas por periodos, y realizar cambios en <br />
los dispositivos que tengan, con el objetivo <br />
de que logren convertir su hogar en un <br />
&quot;hogar eficiente&quot;. 
</p>
</main>
</section>
{{/partial}}
{{>plantilla.hbs}}